@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'maplibre-gl/dist/maplibre-gl.css';
@import "tailwindcss";

@import "leaflet/dist/leaflet.css";

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #020617;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #0e7490;
  border-radius: 2px;
}